/******IMPORTS******/
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import 'https://fonts.googleapis.com/css?family=Abril+Fatface|Averia+Sans+Libre|Covered+By+Your+Grace|Julius+Sans+One|Lato|Luckiest+Guy';
/******GENERAL******/
body {
  padding-top: 70px;
  background-color: #ebebeb;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

footer {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: 'Julius Sans One', sans-serif;
  color: #333;
}
hr {
  border-top: 2px solid #AA814B;
}
/******CONTAINER******/
.social {
  height: 60px;
  display: inline-block;
  padding: 10px;
}
/*.yt {
  margin-left: 30px;
  width: 145px;
}
.tw {
  width: 170px;
}*/

.karin {
  height: 200px;
}
.page-container {
  background-color: #fff;
  border-top: none;
}
.bookDiv {

  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
/******NAVBAR******/
#p-i {
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  color: #E66F6F;
  line-height: 65px;
}
.navbar-nav li a {
  line-height: 70px;
  height: 60px;
  color: #000;
}
.navbar-inverse .navbar-nav>li>a {
  color: #000;
}
.nav {
  height: 70px;
  font-size: 25px;
  font-family: 'Julius Sans One', sans-serif;
}
.navbar {
  border: 0px;
}
.navbar-inverse {
  background-color: #fff;
}
.navbar-collapse.in {
  overflow-y: visible;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  border-bottom: 5px solid #AA814B;
  color: #000;
  background-color: #fff;
  font-weight: 800;
}
.navbar-inverse .navbar-nav>li>a {
  padding-top: 2px;
}
.navbar-brand {
  width: 400px;
  height: 70px;
  padding-top: 6px;
  padding-bottom: 0px;

}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color: #000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li.active>a,
.navbar-inverse .navbar-nav .open .dropdown-menu>li.active>a:hover {
  background-color: #DE9918;
  color: #FFF;

}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
  background-color: #EBEBEB;
  color: #000;
}
.navbar-inverse .navbar-nav>li>a:hover{
  background-color: #fff;
  color: #000;
  font-weight: 800;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: 0px;
}
.navbar-toggle {
  background-color: #47BABD;
}
.icon-bar {
  color: #eee;
}
.navbar-inverse .navbar-toggle {
    border-color: #eee;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #47BABD;
}
/******JUMBOTRON******/
.jumbotron {
  background-color: #fff;
  text-align: center;
  height: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.jumbo-p {
  margin-top: 0px;
  color: #333;
  font-family: 'Averia Sans Libre', cursive;
}
.arrow {
  text-decoration: none;
  font-size: 70px;
  color: #E66F6F;
}
.arrow:hover {
  color: #E66F6F;
  cursor: default;
}
/******SEARCH FIELD******/
.searchField {
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
input.form-control {
  height: 35px;
  font-size: 1.2em;
}
textarea {
  font-size: 1.2em;
}
.book-title, .book-name {
  font-family: 'Open Sans', sans-serif;
}
.partialHeader {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #AA814B;
}
/******SECTIONS******/
.album-img {
  max-width: 600px;
  margin: 0px auto;
  border: 2px solid #111;
  display: inline-block;
}
.bandpost {
  text-align: center;
}
.divider {
  background-color: #4e2d0e;
  width: 256px;
  height: 11px;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
}
.pi1container {
  height: 600px;
  padding: 20px;
  background-color: #AA814B;
}
.pi1 h3 {
  font-family: 'Abril Fatface', cursive;
  color: #FFD8AD;
  font-size: 50px;
}
.pi1 {
  margin-top: 80px;
  font-size: 36px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 6px #000;
}
.pi2container {
  height: 600px;
  padding: 20px;
  background-color: #4C7A34;
}
.pi2 {
  margin-top: 80px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 36px;
  color: #FEF67F;
  text-align: center;
  text-shadow: 0px 0px 6px #000;
}
.circle {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 60px;
  line-height: 60px;
  color:#fff;
  margin: 0px auto;
  text-align: center;
  background: #333;
}
.circle p {
  padding-top: 25px;
  -ms-transform: rotate(-11deg); /* IE 9 */
  -webkit-transform: rotate(-11deg); /* Chrome, Safari, Opera */
  transform: rotate(-11deg);
}
.pi3container {
  height: 600px;
  padding: 20px;
  background-color: #E66A6A;
}
.pi3p {
  font-size: 36px;
  color: #934848;
  text-shadow: 0px 0px 1px #000;
  text-align: center;
}

/******IMAGE RELATED******/
.banderoll {
  width: 100%;
  background-image: url(../img/logos/Banner_vectorized.png);
  background-repeat: repeat-x;
  background-size: 105px 25px;
  height: 25px;
}
#img-text {
  text-align: center;
  font-size: 4em;
  margin-top: 0px;
  color: #FFF;
  text-shadow: 0px 0px 5px #000;
}
.book-img {
  height: 350px;
}
.img_container {
  margin-top: 0px;
}
.homelogo {
  width: 600px;
}
.img-thumbnail {
  max-height: 600px;
  margin-top: 20px;
  border: 2px solid #222;
  padding: 0;
  background-color: none;
  border-radius: 0px;
}
.center {
  text-align: center;
}
/****** BUTTONS ******/
.btn:focus {
  outline: none;
}
.searchBtn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.btn-default {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  background-color: #47BABD;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  outline: none;
}
.buy {
  font-size: 32px;
  height: 60px;
}
.btn-default:hover,
.buy:hover {
  background-color: #BABABA;
}
.btn-default:focus,
.buy:focus {
  background-color: #47BABD;
  color: #fff;
}
/****** GLYPHICONS ******/
.glyphicon {
  top: 2px;
}
.partialHeader .glyphicon {
  top: 0px;
}
.brandhome {
  margin-top: 18px;
  color: #AA814B;
  font-size: 30px;
}
/******MEDIA-QUERIES******/
@media (max-width: 1200px) {
  .nav {
    font-size: 18px;
    font-family: 'Julius Sans One', sans-serif;
  }
  .navbar-nav li a {
      line-height: 68px;
      height: 60px;
  }
  .navbar-brand {
    padding-top: 6px;
    padding-bottom: 0px;
    width: 260px;
  }
  #p-i {
    font-size: 20px;
  }
  .circle {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    background: #333;
  }
  .pi2 {
    margin-top: 50px;
  }
  .pi1 {
    margin-top: 65px;
  }
}
@media (max-width: 991px) {
  .buy {
    font-size: 25px;
    height: 50px;
  }
  .pi1container {
    height: 500px;
  }
  .pi1 {
    margin-top: 115px;
  }
  .pi2container {
    height: 500px;
  }
  .pi2 {
    margin-top: 120px;

  }
  .pi3container {
    height: 500px;
  }
  .circle {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }
  hr {
    display: none;
  }
  footer {
    margin-top: 20px;
  }
  .navbar-brand {
    padding-top: 6px;
    padding-bottom: 0px;
    padding-right: 0px;
    height: 50px;
  }
  .brandhome {
    margin-top: 12px;
    color: #AA814B;
    font-size: 25px;
  }
  .nav {
    font-size: 25px;
  }
  .navbar-inverse .navbar-nav>li>a {
    padding-top: 0px;
    background-color: #fff;
    height: 70px;
  }
  #p-i {
    font-size: 30px;
  }
  .info {
    border-bottom: 1px solid #BABABA;
  }
  .rowPost {
    text-align: center;
  }
  .book-img {
    height: 300px;
  }
  .phonePost {
    border-bottom: 2px solid #AA814B;
    padding-bottom: 10px;
  }
  .pi1container {
    height: 500px;
  }
  .pi1 {
    margin-top: 80px;
  }
  .pi2container {
    height: 500px;
  }
  .pi2 {
    margin-top: 120px;

  }
  .pi3container {
    height: 500px;
  }
  .circle {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    background: #333;
  }
}
@media (max-width: 556px) {
  .pi2 {
    margin-top: 80px;
  }
}
@media (max-width: 501px) {
  .pi2 {
    margin-top: 40px;
  }
}
@media (max-width: 451px) {
  .pi1 {
    margin-top: 40px;
  }
}
@media (max-width: 443px) {
  h2 {
    font-size: 24px;
  }
  .pi2 {
    margin-top: 90px;
    font-size: 30px;
  }
  .pi3p {
    margin-top: 20px;
    font-size: 28px;
  }
}
@media (max-width: 400px) {
  .navbar-brand {
    padding-top: 6px;
    padding-bottom: 0px;
    padding-right: 0px;
    height: 50px;
    width: 200px;
  }
  .pi2 {
    margin-top: 70px;
  }
}
@media (max-width: 389px) {
  .pi1 {
    margin-top: 20px;
  }
}
