/******IMPORTS******/

@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Averia+Sans+Libre|Covered+By+Your+Grace|Julius+Sans+One|Lato|Luckiest+Guy|Libre+Baskerville);
/******GENERAL******/
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  padding-top: 70px;
  background-color: #333;
  font-family: 'Libre Baskerville', serif;
  color: #000;
  font-size: 16px;
}
footer {
  font-family: 'Lato', sans-serif;
  text-align: center;
}
h1, h2, h3, h4, h5 {
  font-family: 'Julius Sans One', sans-serif;
  color: #333;
}
hr {
  border-top: 2px solid #AA814B;
}
/******CONTAINER******/
.social {
  height: 45px;
  display: inline-block;
  padding: 10px;
}
.white {
  background-color: #fff;
  /*-webkit-box-shadow: inset 0px -7px 44px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -7px 44px -3px rgba(0,0,0,0.75);
  box-shadow: inset 0px -7px 44px -3px rgba(0,0,0,0.75);*/
  padding-bottom: 40px;
}
.white2 {
  background-color: #fff;
  font-size: 20px;
  /*-webkit-box-shadow: inset 0px -7px 44px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -7px 44px -3px rgba(0,0,0,0.75);
  box-shadow: inset 0px -7px 44px -3px rgba(0,0,0,0.75);*/
  padding-top: 40px;
  padding-bottom: 40px;

}
/*.yt {
  margin-left: 30px;
  width: 145px;
}
.tw {
  width: 170px;
}*/
.karin {
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
}
.karin2 {
  text-align: center;
}
.karin span {
  font-size: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
.container {

}
.page-container {
  background-color: #fff;
  border-top: none;
}
.bookDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
/******NAVBAR******/

#b-b, #p-i, #i-i {
  font-family: 'Libre Baskerville', serif;
  color: #333;
  font-size: 22px;
  line-height: 70px;
}
.navbar-nav li a {
  line-height: 70px;
  height: 60px;
}
.navHeaderCollapse{
  height: 218px;
}
.navbar-inverse .navbar-nav>li>a {
  color: #000;
}
.nav {
  height: 70px;
  font-size: 25px;
  font-family: 'Julius Sans One', sans-serif;
}
.navbar {
  border: 0px;

}
.navbar-inverse {
  background-color: #47BABD;
}
.navbar-collapse.in {
  overflow-y: visible;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  border-bottom: 5px solid #fff;
  color: #000;
  background-color: #47BABD;
  font-weight: 800;
}
.navbar-inverse .navbar-nav>li>a {
  padding-top: 2px;
}
.navbar-brand {
  width: 400px;
  height: 70px;
  padding-top: 6px;
  padding-bottom: 0px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #47BABD;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color: #000;
}
.navbar-inverse .navbar-nav>li>a:hover{
  background-color: #47BABD;
  color: #000;
  font-weight: 800;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: 0px;
}
.navbar-toggle {
  background-color: #47BABD;
  border: 0px;
  margin-top: 6px;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #333;
  height: 4px;
  width: 30px;
}
.navbar-inverse .navbar-toggle {
  border-color: #47BABD;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #47BABD;
}
/******JUMBOTRON******/
.jumbotron {
  background-color: #fff;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 0px;
  height: 600px;
  /*-webkit-box-shadow: inset 0px -7px 44px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -7px 44px -3px rgba(0,0,0,0.75);
  box-shadow: inset 0px -7px 44px -3px rgba(0,0,0,0.75);*/
}
.jumbotron p {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 30px;
}
.jumbo-p {
  font-family: 'Libre Baskerville', serif;
  color: #333;
  margin-top: 0px;
}
.arrow, .arrow:hover, .arrow:focus {
  text-decoration: none;
  font-size: 70px;
  color: #AA814B;
  cursor: pointer;
}
/******SEARCH FIELD******/
.searchField {
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
input.form-control {
  height: 35px;
  font-size: 1.2em;
}
textarea {
  font-size: 1.2em;
}
.book-title, .book-name {
  font-family: 'Open Sans', sans-serif;
}
.partialHeader {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #AA814B;
}
/******SECTIONS******/
.parallax1 {
    /* The image used */
    background-image: url("../img/logos/Anfal_Shamsudeen3.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {

    /* The image used */
    background-image: url("../img/logos/DSC_6900bw.jpg");

    /* Set a specific height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {

    /* The image used */
    background-image: url("../img/logos/keyboard-1395316bw.jpg");

    /* Set a specific height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax4 {

    /* The image used */
    background-image: url("../img/logos/book-01bw.jpg");

    /* Set a specific height */
    height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.adlbs {
  background-color: #e81121;
}
.end {
}
.intro-section {
  height: 600px;
}
.book-section {
  position: relative;
  top: 430px;
}
.about-section {
  position: relative;
  top: 250px;
}
.info-section {
  position: relative;
  top: 150px;
}
.album-img {
  max-width: 600px;
  margin: 0px auto;
  border: 2px solid #111;
  display: inline-block;
}
.bandpost {
  text-align: center;
}
.divider {
  background-color: #4e2d0e;
  width: 256px;
  height: 11px;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
}
.pi1container {
  height: 600px;
  padding: 20px;
  background-color: #AA814B;
}
.pi1 h3 {
  font-family: 'Abril Fatface', cursive;
  color: #FFD8AD;
  font-size: 50px;
}
.pi1 {
  margin-top: 80px;
  font-size: 36px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 6px #000;
}
.pi2container {
  /*background-image: url("../img/logos/pexels-photo-89860.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  height: 600px;
  padding: 20px;
  background-color: #4C7A34;
}
.pi2 {
  margin-top: 80px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 36px;
  color: #FEF67F;
  text-align: center;
  text-shadow: 0px 0px 6px #000;
}
.circle {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 60px;
  line-height: 60px;
  color:#fff;
  margin: 0px auto;
  text-align: center;
  background: #333;
}
.circle p {
  padding-top: 25px;
  -ms-transform: rotate(-11deg); /* IE 9 */
  -webkit-transform: rotate(-11deg); /* Chrome, Safari, Opera */
  transform: rotate(-11deg);
}
.pi3container {
  height: 600px;
  padding: 20px;
  background-color: #E66A6A;
}
.pi3p {
  margin-top: 20px;
  font-size: 36px;
  color: #934848;
  text-shadow: 0px 0px 1px #000;
  text-align: center;
}
/******IMAGE RELATED******/
.banderoll {
  width: 100%;
  background-image: url(../img/logos/Banner_vectorized.png);
  background-repeat: repeat-x;
  background-size: 105px 25px;
  height: 25px;
}
.banderoll2 {
  width: 100%;
  background-image: url(../img/logos/Banner_vectorized.png);
  background-repeat: repeat-x;
  background-size: 105px 25px;
  height: 25px;
  display: none;
}
#img-text {
  text-align: center;
  font-size: 4em;
  margin-top: 0px;
  color: #FFF;
  text-shadow: 0px 0px 5px #000;
}
.book-img {
  height: 350px;
}
.img_container {
  margin-top: 0px;
}
.homelogo {
  width: 500px;
  margin-bottom: 10px;
}
.img-thumbnail {
  max-height: 600px;
  margin-top: 20px;
  border: 2px solid #222;
  padding: 0;
  background-color: none;
  border-radius: 0px;
}
.infopic {
  height: 300px;
  margin-top: 20px;
}
.center {
  text-align: center;
}
/****** BUTTONS ******/
.btn:focus {
  outline: none;
}
.searchBtn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.btn-default {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  background-color: #47BABD;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  outline: none;
}
.buy1 {
  font-size: 32px;
  height: 60px;
  color: #232F3E;
  background-color: #F3A847;
}
.buy1:hover {
  background-color: #BABABA;
}
.buy1:focus {
  background-color: #F3A847;
  color: #232F3E;
}
.buy2 {
  font-size: 32px;
  height: 60px;
  background-color: #e81121;
}
.buy2:hover {
  background-color: #BABABA;
}
.buy2:focus {
  background-color: #e81121;
  color: #fff;
}
/****** GLYPHICONS ******/
.glyphicon {
  top: 2px;
}
.partialHeader .glyphicon {
  top: 0px;
}
.brandhome {
  margin-top: 18px;
  color: #333;
  font-size: 30px;
}
.glyphicon-scissors {
  color: #e74c3c;
}
.glyphicon-briefcase {
  color: #e67e22;
}
.glyphicon-sunglasses {
  color: #333333;
}
.glyphicon-education {
  color: #2980b9;
}
.glyphicon-glass {
  color: #9b59b6;
}
.glyphicon-user {
  color: #f1c40f;
}
.glyphicon-headphones {
  color: #27ae60;
}
/******MEDIA-QUERIES******/
/*@media (max-width: 1660px) {
  .pi3container {
    padding: 40px;
  }
  .pi3p {
    margin-top: 10px;
  }
}
@media (max-width: 1603px) {
  .pi2 {
    margin-top: 120px;
  }
}
@media (max-width: 1587px) {
  .pi1 {
    margin-top: 140px;
  }
}
@media (max-width: 1437px){
  .pi2 {
    margin-top: 100px;
  }
}
@media (max-width: 1287px) {
  .pi1 {
    margin-top: 100px;
  }
}*/
@media (max-width: 1200px) {
  .nav {
    font-size: 18px;
    font-family: 'Julius Sans One', sans-serif;
  }
  .navbar-nav li a {
      line-height: 68px;
      height: 60px;
  }
  .navbar-brand {
    padding-top: 6px;
    padding-bottom: 0px;
    width: 260px;
  }
  #b-b, #p-i, #i-i {
    font-size: 16px;
  }
  .circle {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    background: #333;
  }
  .pi2 {
    margin-top: 80px;
  }
  .pi1 {
    margin-top: 80px;
  }
}
/*@media (max-width: 1061px) {
  .pi2 {
    margin-top: 40px;
  }
}*/
@media (max-width: 991px) {
  .parallax1 {
    background-image: url("../img/logos/Anfal_Shamsudeen2.jpg");
  }
  .about-section {
    height: 1800px;
  }
  .buy {
    font-size: 25px;
    height: 50px;
  }
  .pi1container {
    height: 500px;
  }
  .pi1 {
    margin-top: 115px;
  }
  .pi2container {
    height: 500px;
  }
  .pi2 {
    margin-top: 120px;

  }
  .pi3container {
    height: 500px;
  }
  .circle {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    border-bottom: 0px;
    color: #333;
    background-color: #47BABD;
    font-weight: 800;
  }
  .banderoll2 {
    width: 100%;
    background-image: url(../img/logos/Banner_vectorized.png);
    background-repeat: repeat-x;
    background-size: 105px 25px;
    height: 25px;
    display: block;
  }
  .banderoll {
    display: none;
  }
  .homelogo {
    padding-top: 10px;
  }
  .navbar-inverse .navbar-nav>li>a:hover{
    background-color: #fff;
    color: #333;
  }
  body {
    padding-top: 50px;
  }
  hr {
    display: none;
  }
  footer {
    margin-top: 20px;
  }
  .navbar-brand {
    padding-top: 6px;
    padding-bottom: 0px;
    padding-right: 0px;
    height: 50px;
  }
  .brandhome {
    margin-top: 12px;
    padding-left: 20px;
    color: #333;
    font-size: 25px;
  }
  .nav {
    font-size: 25px;
  }
  .navbar-inverse .navbar-nav>li>a {
    padding-top: 0px;
    background-color: #fff;
    height: 70px;
  }
  #b-b, #p-i, #i-i {
    font-size: 25px;
  }
  .rowPost {
    text-align: center;

  }
  .karin span {
    font-size: 40px;
  }

  .book-img {
    height: 300px;
  }
  .phonePost {
    border-bottom: 2px solid #AA814B;
    padding-bottom: 10px;
  }
  .pi1container {
    height: 500px;
  }
  .pi1 {
    margin-top: 80px;
  }
  .pi2container {
    height: 500px;
  }
  .pi2 {
    margin-top: 120px;

  }
  .pi3container {
    height: 500px;
  }
  .circle {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    background: #333;
  }
  .book-section {
    top: 425px;
  }
  .about-section,
  .info-section {
    padding-top: 50px;
  }
  .white {
    padding-bottom: 0px;
  }
  .white2 {
    box-shadow: none;
    padding-bottom: 0px;
  }
  .page-container {
    /*-webkit-box-shadow: inset 0px -7px 44px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -7px 44px -3px rgba(0,0,0,0.75);
    box-shadow: inset 0px -7px 44px -3px rgba(0,0,0,0.75);*/
  }
  .jumbotron {
/*
    -webkit-box-shadow: inset 0px -7px 44px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -7px 44px -3px rgba(0,0,0,0.75);
    box-shadow: inset 0px -7px 44px -3px rgba(0,0,0,0.75);*/
  }
}
@media (max-width: 556px) {
  .pi2 {
    margin-top: 80px;
  }
}
@media (max-width: 501px) {
  .pi2 {
    margin-top: 40px;
  }
}
@media (max-width: 451px) {
  .pi1 {
    margin-top: 40px;
  }
}
@media (max-width: 443px) {
  h2 {
    font-size: 24px;
  }
  .pi2 {
    margin-top: 90px;
    font-size: 30px;
  }
  .pi3p {
    margin-top: 20px;
    font-size: 28px;
  }
}
@media (max-width: 400px) {
  .navbar-brand {
    padding-top: 6px;
    padding-bottom: 0px;
    padding-right: 0px;
    height: 50px;
    width: 200px;
  }
  .pi2 {
    margin-top: 70px;
  }
}
@media (max-width: 389px) {
  .pi1 {
    margin-top: 20px;
  }
}
