<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <!-- For rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css" media="screen">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Playful Office&trade;</title>
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- <img class="loadlogo img-responsive center-block" src="img/logos/PlayfulOfficeLogo4.png" alt="Playful Office Logo" /> -->
    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="navController">
      <div class="container">
        <div class="navbar-header"><!-- Wrapping the collapse menu in .navbar-header for Bootstrap v.3 -->
          <a class="page-scroll" href="#page-top">
            <span class="glyphicon glyphicon-home brandhome"></span>
          </a>

          <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div><!-- /navbar-header -->
        <div class="collapse collapse navbar-collapse navHeaderCollapse navbar-ex1-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a class="page-scroll" href="#page-top"></a>
            </li>
            <li>
              <a id="p-i" class="page-scroll" href="#about">WHAT IS THIS?</a>
            </li>
            <li>
              <a id="i-i" class="page-scroll info" href="http://playfuloffice.com/">PLAYFUL SHOP</a>
            </li>
            <li>
              <a  id="b-b" class="page-scroll" href="#contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div><!-- /container -->
      <div class="banderoll2"></div>
    </div><!-- /navbar div -->

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
      <div class="banderoll"></div>
      <div class="jumbotron">
        <div class="container">
          <div class="row rowPost">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="img_container">
                <a>
                  <img class="homelogo img-responsive center-block" src="img/logos/PlayfulOfficeLogo4.png" alt="Playful Office Logo" />
                </a><!-- /anchor -->
                <div class="imgtextdiv">
                  <!-- <div class="karin"> -->
                    <!-- <a target="_blank" href="https://www.facebook.com/"><img class="img-responsive social" src="img/logos/FB-f-Logo__turquoise_1024.png" alt="fblogo" /></a> -->
                    <!-- <a target="_blank" href="https://www.youtube.com/user/"><img class="img-responsive social" src="img/logos/YouTube_turquoise_color_icon.png" alt="ytlogo" /></a> -->
                    <!-- <a target="_blank" href="https://twitter.com/"><img class="img-responsive social" src="img/logos/Twitter_Social_Icon_turquoise.png" alt="twlogo" /></a> -->
                    <!-- <a target="_blank" href="https://www.instagram.com/"><img class="img-responsive social" src="img/logos/glyph-logo_May2016_turquoise.png" alt="iglogo" /></a> -->
                    <!-- <br> -->
                    <!-- <a  href="#book" class="arrow page-scroll"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a> -->
                  <!-- </div> -->
                  <p class='jumbo-p'>
                    The Playful Office philosophy is developed by doctors, scientific researchers, psychologists, interior designers, product developers, artists, architects, philosophers, horticulturists, computer technicians, nerds and programmers with many years of experience.
                  </p>
                  <p class="jumbo-p">
                    Playful Office is not some wild guess or some random prediction. This is a well compiled collection of research, observations, interviews and a whole lot of experience. This is happening now, as you are reading this, this is the future.
                  </p>
                  <div class="buyDiv">
                    <a target="_blank" href="https://www.amazon.com" class="buy1" role="button">
                      <img src="img/logos/unnamed.png" alt="Buy on Amazon">
                    </a>
                    <a target="_blank" href="http://www.adlibris.com/se" class="buy2" role="button">
                      <img src="img/logos/adlibris.png" alt="Buy on Adlibris">
                    </a>
                    <!-- <br class="clearFix"> -->
                  </div>


                </div>
              </div><!-- /img_container -->
            </div><!-- /col -->
            <div class="col-sm-6 col-md-6 col-lg-6 center">
              <img class="bookPic" src="img/books/MockUp-Book2.png" alt="" />
            </div><!-- /col -->
          </div><!-- /row -->
          <!-- <div class="center">
            <a  href="#book" class="arrow page-scroll"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
          </div> -->
          <div class="karin2">
            <img class="pocertified" src="img/logos/pocertified.png" alt="">
          </div>
        </div><!-- /container -->
        <!-- <div class="banderoll"></div> -->
      </div><!-- /jumbotron -->
    </section>

    <div class="parallax1">
      <p class="p1-p">&quot;When you share a laugh with someone, you are mirroring that person, their body language and neural activity.&quot;</p>
      <div id="about" class="about-section">

      </div>
    </div>
    <section>

      <!-- <div class="input-group searchField">
      <input type="text" class="form-control" placeholder="Sök bland böcker..." ng-model="filter.name">
      <span class="input-group-btn">
      <a class="btn btn-primary btn-lg searchBtn" type="button" href="#/search">Sök <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
      </span>
      </div> /input-group & searchField -->
    <!-- Placeholder for views -->
    <!-- <div id="main">
      <div class="view_container" ng-view></div>
    </div> -->
        <div class="white">
          <div class="banderoll"></div>
          <div ng-controller="playController" class="container">
            <div class="row rowPost">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pi1container">
                <div class="pi1" data-ng-repeat="play in plays | filter:filter.title | orderBy:'title'">
                  <h3>Play in the office!</h3>
                  <div class="divider"></div>
                  <p>{{ play.title }}</p>
                </div>
              </div><!-- /col -->
              <!-- <div class="col-xs-12 col-sm-12 col-md-4 pi2containerimage">
                <div class="pi2image">
                  <img src="" alt="" />
                </div>
              </div> -->
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pi2container">
                <div class="pi2">
                  <p>&quot;Our meetings sometimes tend to become routine and perhaps a little boring...</p>
                  <p>I wanted to shake things up a bit&quot;</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pi3container">
                <div class="pi3">
                  <div class="circle">
                    <p>&quot;playing<br>can buy you<br>an extra 10<br>years&quot;</p>
                  </div>
                  <p class="pi3p">Our brains need stimulation just as much as our bodies do, to stay healthy.</p>
                </div>
              </div><!-- /col -->
            </div><!-- /row & rowPost -->
          </div>

          <!-- <div class="banderoll"></div> -->
        </div>
      </section>


    <div class="parallax2">
      <div id="contact" class="contact-section">
      </div>
    </div>
    <section>
      <div class="white3">
        <div class="banderoll"></div>
        <div class="container page-container" ng-controller="bookController">
          <div class="row rowPost2">
            <div class="col-sm-6 col-md-6 col-lg-6 bookDiv">
              <!-- <h4 class="book-title"><strong>{{ book.title }}</strong></h4>
              <p class="book-name">- {{ book.name }}</p> -->
              <img class="img-responsive book-img center-block" src="img/employees/DSC_6531-3.jpg" alt="Playful Office book">

            </div><!-- /bookDiv & col -->
            <div class="col-sm-6 col-md-6 col-lg-6">
              <h2><strong>Contact</strong></h2>
              <hr>
              <p>We offer talks and workshops about The Playful Office as well as design consulting and technical wizardry.<br><br>Our customers are mainly Swedish, but we love to travel to exotic or unusual places or even unexciting places like Frankfurt or Fresno.</p>
              <div class="contactInfo">
                <img class="floatLeft" src="img/logos/logo-original1-150x141.png" alt="">
                <p class="floatLeft">Superl AB<br>Mäster Ernsts Gata 7<br>254 35 Helsingborg<br>info@superlab.se<br>Org. nr: 556966-1936</p>
              </div>
            </div><!-- /col -->
          </div><!-- /row & rowPost -->
        </div><!-- /container & page-container -->

        <!-- <div class="banderoll"></div> -->
      </div>
    </section>


    <div class="parallax3">
      <div class="info-section">
      </div>
      <footer>
        <p>© Playful Office<br>Website by: Jonatan Östling 2016</p>
      </footer>
    </div>

      <!-- <div class="white2"> -->
        <!-- <div class="banderoll"></div> -->

        <!-- <div class="container page-container">
          <h1 class="partialHeader">Info</h1>
          <div class="row rowPost">
            <div class="col-sm-12 col-md-12 col-lg-12 center">
              <h3 class="center">The philosophy</h3>
              <p>The Playful Office philosophy is developed by doctors, scientific researchers, psychologists, interior designers, product developers, artists, architects, philosophers, horticulturists, computer technicians, nerds and programmers with many years of experience.</p>
              <div class="karin">
                <span class="glyphicon glyphicon-scissors"></span>
                <span class="glyphicon glyphicon-user"></span>
                <span class="glyphicon glyphicon-education"></span>
                <span class="glyphicon glyphicon-glass"></span>
                <span class="glyphicon glyphicon-sunglasses"></span>
                <span class="glyphicon glyphicon-headphones"></span>
                <span class="glyphicon glyphicon-briefcase"></span>
              </div>
              <p>Playful Office is not some wild guess or some random prediction. This is a well compiled collection of research, observations, interviews and a whole lot of experience. This is happening now, as you are reading this, this is the future.</p> -->

            <!-- </div>-->
          <!-- </div> -->
          <!-- <hr>-->
        <!-- </div> -->
        <!-- <div class="banderoll"></div> -->

      <!-- </div>
    </section> -->
    <div class="end">
      <!-- <div class="parallax4"></div> -->


    </div>
    <!-- Latest minified jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <!-- AngularJS route -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- My AngularJS file -->
    <script src="app/app.js"></script>
    <!-- Angular Nav Controller -->
    <script src="app/controllers/navController.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/jquery.easing.min.js"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="scripts/scrolling-nav.js"></script>
  </body>
</html>
