<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <!-- For rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css" media="screen">
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Playful Office&trade;</title>
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="navController">
      <div class="container">
        <div class="navbar-header"><!-- Wrapping the collapse menu in .navbar-header for Bootstrap v.3 -->
          <a class="page-scroll" href="#page-top">
            <img title="Home" class="navbar-brand" src="img/logos/PlayfulOfficeLogoHoriz3.svg" alt="Playful Office Logo Horizontal" />
            <!-- <span class="glyphicon glyphicon-home brandhome"></span> -->
          </a>

          <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div><!-- /navbar-header -->
        <div class="collapse collapse navbar-collapse navHeaderCollapse navbar-ex1-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a class="page-scroll" href="#page-top"></a>
            </li>
            <li>
              <a  id="b-b" class="page-scroll" href="#book">Buy the Book</a>
            </li>
            <li>
              <a id="p-i" class="page-scroll" href="#play-inspiration">Play Inspiration</a>
            </li>
            <li>
              <a id="i-i" class="page-scroll" href="#info">Info</a>
            </li>
          </ul>
        </div>
      </div><!-- /container -->
    </div><!-- /navbar div -->

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
      <div class="banderoll"></div>
      <div class="jumbotron">
        <div class="container">
          <div class="img_container">
            <a>
              <img class="homelogo img-responsive center-block" src="img/logos/PlayfulOfficeLogo2.svg" alt="Playful Office Logo" />
            </a><!-- /anchor -->
            <div class="imgtextdiv">
              <!-- <h1 id="img-text">bokfynd.nu</h1> -->
              <p class='jumbo-p'>COMPANION FOR THE BOOK &quot;PLAYFUL OFFICE&quot;</p>

            </div>
            <div class="karin">
              <a target="_blank" href="https://www.facebook.com/"><img class="img-responsive social" src="img/logos/FB-f-Logo__turquoise_1024.png" alt="fblogo" /></a>
              <a target="_blank" href="https://www.youtube.com/user/"><img class="img-responsive social" src="img/logos/YouTube_turquoise_color_icon.png" alt="ytlogo" /></a>
              <a target="_blank" href="https://twitter.com/"><img class="img-responsive social" src="img/logos/Twitter_Social_Icon_turquoise.png" alt="twlogo" /></a>
              <a target="_blank" href="https://www.instagram.com/"><img class="img-responsive social" src="img/logos/glyph-logo_May2016_turquoise.png" alt="iglogo" /></a>
              <br>
              <a class="arrow"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
            </div>
          </div><!-- /img_container -->
        </div><!-- /container -->
      </div><!-- /jumbotron -->
    </section>


      <!-- <div class="input-group searchField">
      <input type="text" class="form-control" placeholder="Sök bland böcker..." ng-model="filter.name">
      <span class="input-group-btn">
      <a class="btn btn-primary btn-lg searchBtn" type="button" href="#/search">Sök <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
      </span>
      </div> /input-group & searchField -->
    <!-- Placeholder for views -->
    <!-- <div id="main">
      <div class="view_container" ng-view></div>
    </div> -->
    <div class="banderoll"></div>
    <section id="book" class="book-section">
      <div class="container page-container" ng-controller="bookController">
        <div class="row rowPost">
          <div class="col-sm-6 col-md-6 col-lg-6 bookDiv" data-ng-repeat="book in books | filter:filter.name | orderBy:'name'">
            <!-- <h4 class="book-title"><strong>{{ book.title }}</strong></h4>
            <p class="book-name">- {{ book.name }}</p> -->
            <img class="img-responsive book-img center-block" data-ng-src="{{ book.img }}" alt="{{ book.name }}">

          </div><!-- /bookDiv & col -->
          <div class="col-sm-6 col-md-6 col-lg-6">
            <h3>Playful Office&trade;</h3>
            <p>A book that will help you change your workplace for good.</p>
            <p><a target="_blank" href="https://www.amazon.com" class="btn btn-default buy" role="button">PURCHASE ON AMAZON <span class="glyphicon glyphicon-shopping-cart"></span></a></p>
          </div><!-- /col -->
        </div><!-- /row & rowPost -->
      </div><!-- /container & page-container -->
    </section>
    <div class="banderoll"></div>

    <section id="play-inspiration" class="play-inspiration-section">
      <div ng-controller="playController" class="container page-container">
        <div class="row rowPost">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pi1container">
            <div class="pi1" data-ng-repeat="play in plays | filter:filter.title | orderBy:'title'">
              <h3>Play in the office!</h3>
              <div class="divider"></div>
              <p>{{ play.title }}</p>
            </div>
          </div><!-- /col -->
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pi2container">
            <div class="pi2">
              <p>&quot;Our meetings sometimes tend to become routine and perhaps a little boring...</p>
              <p>I wanted to shake things up a bit&quot;</p>
            </div>
          </div><!-- /col -->
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pi3container">
            <div class="pi3">
              <div class="circle">
                <p>&quot;playing<br>can buy you<br>an extra 10<br>years&quot;</p>
              </div>
              <p class="pi3p">Our brains need stimulation just as much as our bodies do, to stay healthy.</p>
            </div>
          </div><!-- /col -->
        </div><!-- /row & rowPost -->
      </div>
    </section>

    <div class="banderoll"></div>

    <section id="info" class="info-section">

      <div class="container page-container">
        <h1 class="partialHeader">Info</h1>
        <div class="row rowPost">
          <div class="col-sm-12 col-md-12 col-lg-12 center">
            <h3>BUSINESS</h3>
            <p>For endorsement, interviews, merchandise, and artwork related questions and proposals, <strong>please use the e-mail address below.</strong></p>
            <h2>playfuloffice@book.com</h2>

          </div><!-- /col -->
        </div><!-- /row & rowPost -->
        <hr>
        <footer>
          <p>© 2016 Jonatan Östling.</p>
        </footer>
      </div><!-- /container & page-container -->
    </section>
    <div class="banderoll"></div>

    <!-- Latest minified jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <!-- AngularJS route -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- My AngularJS file -->
    <script src="app/app.js"></script>
    <!-- Angular Nav Controller -->
    <script src="app/controllers/navController.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/jquery.easing.min.js"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="scripts/scrolling-nav.js"></script>
  </body>
</html>
