<!-- <div id="onPage-view-name">CONTACT</div> -->
<div class="container page-container">
  <div class="row rowPost">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h3>dsads</h3>
      <ul>
        <li><p>For endorsement, interviews, merchandise, music and artwork related questions and proposals, <strong>please use the e-mail address below.</strong></p></li>
      </ul>
      <div class="pleasenote-div">
        <p><span class="glyphicon glyphicon-exclamation-sign pleasenote"></span>&nbsp;&nbsp;PLEASE NOTE!</p>
        <p>The copy function isn't working properly for Safari users at this moment, <strong>please copy the e-mail address MANUALLY below.</strong></p>
      </div>

      <h2 class="chronusemail">chronusband@gmail.com</h2>
      <div class="copytextdiv-success"><p class="copytext-success">E-MAIL SUCCESSFULLY COPIED</p>
        <p><button class="closeSpan" role="button"><span class="glyphicon glyphicon-remove"></span></button></p>
      </div>
      <div class="copytextdiv-fail"><p class="copytext-fail">COPY FUNCTION FAILED</p>
        <p><button class="closeSpan" role="button"><span class="glyphicon glyphicon-remove"></span></button></p>
      </div>
      <!-- Trigger -->
      <p><a class="btn btn-default copybtn" role="button" data-clipboard-text="chronusband@gmail.com">COPY TO CLIPBOARD</a></p>


      <!-- <form role="form" action="contact.php" method="post">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="name" class="form-control" id="name" name="name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
        </div>
        <div class="form-group">
          <label for="subject">Subject:</label>
          <input type="subject" class="form-control" id="subject" name="subject" placeholder="Subject">
        </div>
        <div class="form-group">
          <label for="message">Message:</label>
          <textarea class="form-control" rows="3" id="message" name="message" placeholder="Your message..."></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-default send">SEND</button>
      </form> -->
    </div><!-- /col -->

  </div><!-- /row & rowPost -->
  <hr>
  <footer>
    <p>© 2016 Jonatan Östling.</p>
  </footer>
</div><!-- /container & page-container -->
<!-- <script src="scripts/onPageViewName.js" charset="utf-8"></script> -->
