<!-- <div id="onPage-view-name">HOME</div> -->
<div class="container page-container">
  <section id="homesection">

  <h1 class="partialHeader">Blog</h1>
  <div class="row rowPost">
    <div class="col-sm-6 col-md-6 col-lg-6 phonePost">
      <h3>Printing Begins Soon</h3>
      <br>
      <p>Playful Office will be printed later this year, and available on Amazon for your purchasing pleasure. Make sure to get your copy and help your workplace become a better place!</p>
      <br>
      <p><a href="#/book" class="btn btn-default" role="button">BUY THE BOOK</a></p>
    </div><!-- /col -->
    <div class="col-sm-6 col-md-6 col-lg-6 phonePost">
      <h3>Samuel and Niklas Interview</h3>
      <br>
      <p>Samuel and Niklas recently did an interview about the concept Playful Office&trade; on what it is and why it's important.</p>
      <br>
      <p><a href="#" class="btn btn-default" role="button">READ MORE</a></p>
    </div><!-- /col -->
  </div><!-- /row & rowPost -->
  <hr>
  </section>
  <footer>
    <p>© 2016 Jonatan Östling.</p>
  </footer>
</div><!-- /container & page-container -->
<div class="banderoll"></div>
