<!-- <div id="onPage-view-name">Info</div> -->
<div class="container page-container">
  <div class="row rowPost">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h3>BUSINESS</h3>
      <ul>
        <li><p>For endorsement, interviews, merchandise, and artwork related questions and proposals, <strong>please use the e-mail address below.</strong></p></li>
      </ul>
      <!-- <div>
        <p><span class="glyphicon glyphicon-exclamation-sign pleasenote"></span>&nbsp;&nbsp;PLEASE NOTE!</p>
        <p>The copy function isn't working properly for Safari users at this moment, <strong>please copy the e-mail address MANUALLY below.</strong></p>
      </div> -->

      <h2>playfuloffice@book.com</h2>



    </div><!-- /col -->

  </div><!-- /row & rowPost -->
  <hr>
  <footer>
    <p>© 2016 Jonatan Östling.</p>
  </footer>
</div><!-- /container & page-container -->
<!-- <script src="scripts/onPageViewName.js" charset="utf-8"></script> -->
<div class="banderoll"></div>
