
<div class="container page-container">
  <h1 class="partialHeader">Play Inspiration</h1>
  <div class="row rowPost">
    <div class="col-sm-6 col-md-6 col-lg-6 ">
      <h3>Hur söker jag böcker?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <p><a href="#/search" class="btn btn-default" role="button">Sök på böcker</a></p>
    </div><!-- /col -->
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h3>Kontakta oss</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <p><a href="#/contact" class="btn btn-default" role="button">Kontakta oss</a></p>
    </div><!-- /col -->
  </div><!-- /row & rowPost -->
  <hr>
  <footer>
    <p>© 2016 Jonatan Östling.</p>
  </footer>
</div><!-- /container & page-container -->
<div class="banderoll"></div>
